.checkOut{
    height: 90vh;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.address-modal{
    margin: auto;
    position: absolute;
    left: 40%;
    background-color: aliceblue;
    z-index: 3;
    height: 100%;
    width: 250px;
    -webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
    padding: 1%;
    /* overflow: scroll; */
}

.user-address{
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.address-box{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 250px;
    margin: auto;
    border: 1px solid black;
    padding: 1%;
}